@use '../../styles/variables' as v;

.card {
    background-color: v.$color-alternativ;
    border: 1px solid v.$white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    color: v.$white;
    border-radius: 10px;
    position: relative;
    &-left{
        width: 75%;
        padding: .5rem 1rem;
        &-data{
            line-height: 0rem;
            &-city{
                font-size: 2rem;
                font-weight: bold;
            }
            &-weather-description{
                color: #ffffff54;
                text-transform: capitalize;
            }
        }
        &-temperature{
            font-size: 2.5rem;
            font-weight: bold;
            margin: 1.5rem 0;
        }
    }

    &-right{
        padding: 1rem;
        &-close{
            position: absolute;
            top: 1rem;
            right: 1rem;
            cursor: pointer;
        }
        &-weather-icon {
            display: flex;
            max-width: 100%;
            & img {
                width: 5rem;
            }
        }
        
        
    }
}